################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRMAWO/obj/Release/Package/PackageTmp/ReassignedBucket.aspx
